<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to MyCalculator!</h2>
    <div class="result">
      <input type="text" (ngModel)="result" value="{{result}}" name="result" disabled>

    </div>
    <div class="operators">
      <div (click)="addition()">+</div>
      <div (click)="substraction()">-</div>
      <div (click)="multiplication()">x</div>
      <div (click)="division()">/</div>
    </div>
    <div class="numbers">
      <div (click)="onNumber(n)" *ngFor="let n of [7,8,9]">{{n}}</div>
      <div (click)="doCalcul()">=</div>
    </div>
    <div class="numbers">
      <div (click)="onNumber(n)" *ngFor="let n of [4,5,6]">{{n}}</div>
    </div>
    <div class="numbers">
      <div (click)="onNumber(n)" *ngFor="let n of [1,2,3]">{{n}}</div>
    </div>
    <div class="numbers">
        <div (click)="on0()">0</div>
        <div (click)="onDot()">.</div>
        <div (click)="onC()">C</div>
      </div>
</ion-content>
